:root {
    --bs-font-sans-serif: "Manrope", sans-serif;
    --bs-body-font-family: var(--bs-font-sans-serif);
}

body {
    width: 100%;
    height: 100%;
    margin: 0px;
    padding: 0px;
    font-family: var(--bs-body-font-family);
}

#content {
    height: 100vh;
    width: 100%;
    display: grid;
    grid-template-rows: 20% 75% 5%;
    justify-items: center;
    align-items: center;
}

header {
    width: 100%;
    height: 20vh;
    grid-row: 1/2;
    display: flex;
    flex-direction: column;
    align-items: center;
    justify-content: space-evenly;
    color: white;
    background-color: rgb(18, 17, 109);
    font-weight: bolder;
    font-size: 42px;
}

header .navBar {
    width: 60vh;
    display: flex;
    justify-content: space-between;
}

header button {
    background-color: rgba(240, 248, 255, 0);
    color: white;
    border: 0px;
    font-size: 24px;
}

#main {
    grid-row: 2/3;
    height: 75vh;
    width: 100%;
}

#home {
    display: flex;
    flex-direction: column;
    align-items: center;
    justify-content: center;
    height: 100%;
    color:  rgb(18, 17, 109);
    font-weight: bold;
    font-size: 24px;
}

#menu {
    height: 100%;
    display: grid;
    grid-template-columns: 1fr 1fr;
    grid-template-rows: 1fr 1fr;
    justify-items: center;
    align-items: center;
}

.menuContainer {
    height: auto;
    width: auto;
    color:  rgb(18, 17, 109);
    font-weight: bold;
}

.menuContainer img {
    height: 200px;
    width: 200px;
}

footer {
    height: 5vh;
    width: 100%;
    grid-row: 3/4;
    display: flex;
    align-items: center;
    justify-content: center;
    color: white;
    background-color: rgb(18, 17, 109);
}

